h1 {
    text-align: center;
    margin-top: 2.5cm;
    margin-bottom: 0.25em;
}

.contact {
    width: 45%;
    margin: 0 auto;
}

.contact a {
    float: right;
}

header span {
    margin: 0.5em 0;
}

.school {
    float: left;
    margin-left: 2.5cm;
}

.home {
    float: right;
    margin-right: 2.5cm;
}

header:after {
    clear: both;
    display: block;
    height: 0;
    content: ' ';
}

section {
    margin: 1em 2.5cm;
}

section :not(h2) {
    margin-left: 1cm;
}

section p {
    margin-top: 0.1em;
}
